{% extends "ingress/base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
{% include "ingress/forkme.html" %}

<div class="pure-g">
    <div class="pure-u-1-4">
        <div class="card">
            <h1>Portals</h1>
            <p>
            {{ portal_count }}
            </p>
        </div>
    </div>

    <div class="pure-u-1-4">
        <div class="card">
            <h1>Players</h1>
            <p>
            {{ player_count }}
            </p>
        </div>
    </div>

    <!--
        {{ action_count }} actions collected.
    -->
</div>
{% endblock %}
