{% extends "ingress/base.html" %}
{% block title %}Messages{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

{% load ingress_filters %}

<div class="pl-20">
    <h1>Public Messages</h1>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th style="width:110px;">Time</th>
            <th>Agent</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for msg in result %}
        <tr>
            <td>
                {{ msg.get_time }}
            </td>
            <td>
                <a href="/actions/player/{{ msg.player }}/">
                    <span class="c-{{ msg.team }}">{{ msg.player }}</span>
                </a>
            </td>
            <td>
                <span class="cr">{{ msg.get_text|parse_agent_message|safe }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="pure-g">
    <div class="pure-u-1-1 pl-20 gray mt-40">
HIT: If you are using Google Chrome and want to see Emoji Chars on this page,
you can install <a class="external" target="_blank" href="https://chrome.google.com/webstore/detail/chromoji-emoji-for-google/cahedbegdkagmcjfolhdlechbkeaieki">this extension</a>.
    </div>
</div>

{% endblock %}
