{% extends "ingress/base.html" %}
{% block title %}Top Players{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div class="pl-20 mt-20">
    <h1>Top Players of {{ d|date:"Y" }}-{{ d|date:"m" }}</h1>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>No.</th>
            <th>Enlightened</th>
            <th>Resistance</th>
        </tr>
        </thead>
        <tbody>
        {% for pe, pr in result %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {% if pe %}
                <a href="/actions/player/{{ pe.player }}/">
                    <span class="c-E">{{ pe.player }}</span>
                </a>
                {% endif %}
            </td>
            <td>
                {% if pr %}
                <a href="/actions/player/{{ pr.player }}/">
                    <span class="c-R">{{ pr.player }}</span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="pure-g mt-40">
    <div class="pure-u-1-1 pl-20 gray">
        <strong>Note</strong>: Data based on the total MUs earned.
    </div>
</div>

{% endblock %}
