{% extends "ingress/base.html" %}
{% block title %}Secret Portals{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div class="pl-20">
    <h1>Secret Portals</h1>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>No.</th>
            <th>Portal</th>
            <th>Owner</th>
            <th>Days (at least)</th>
        </tr>
        </thead>
        <tbody>
        {% for po in result %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                <a href="{{ po.get_absolute_url }}">
                    <span class="c-{{ po.team }}">{{ po.name }}</span>
                </a>
            </td>
            <td>
                <span class="c-{{ team }}">{{ po.owner }}</span>
            </td>
            <td>
                {{ po.get_hold_days }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Other Secret Portals</h1>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>No.</th>
            <th>Portal</th>
            <th>Owner</th>
            <th>Days</th>
        </tr>
        </thead>
        <tbody>
        {% for po in others %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                <a href="{{ po.get_absolute_url }}">
                    <span class="c-{{ po.team }}">{{ po.name }}</span>
                </a>
            </td>
            <td>
                <span class="c-{{ team }}">{{ po.owner }}</span>
            </td>
            <td>
                Over {{ max_days_tracked }} days
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
