{% extends "ingress/base.html" %}
{% block title %}Top {% if neutral %}Neutral {% endif %}Area{% endblock %}
{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div class="pl-20">
    {% if neutral %}
        <h1>Top Neutral Portal Area</h1>
    {% else %}
        <h1>Top Portal Area</h1>
    {% endif %}

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>No.</th>
            <th>Portal</th>
        {% if neutral %}
            <th>Neutral Count</th>
            <th>Action</th>
        {% else %}
            <th>Portal Count</th>
        {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tile in result %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                <a href="{{ tile.portal.get_absolute_url }}">
                    <span class="c-{{ tile.portal.team }}">{{ tile.portal.name }}</span>
                </a>
            </td>
            <td>
                {% if neutral %}
                    {{ tile.n_po_count }}
                {% else %}
                    {{ tile.portal_count }}
                {% endif %}
            </td>
            {% if neutral %}
            <td>
                <a class="external" target="_blank" href="{{ tile.portal.get_ingress_url }}">Check on Ingress Intel</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    {% if neutral %}
        <a href="/top_area/">View Top Portal Area</a>
    {% else %}
        <a href="/top_neutral_area/">View Top Neutral Portal Area</a>
    {% endif %}
</div>
{% endblock %}
